/* style for the header */

#header {
position: absolute;
margin: 0;
top: 0;
left: 0;
display: block;
width: 100%;
height: 5em;
z-index: 5;
border-bottom: 1px solid #93bb84;
background: linear-gradient(180deg, #f7fbf6 0%, #eef5ec 100%);
border-radius: 0px 0px 20px 20px;
}


#header #menu {
white-space: nowrap;
height: 1.4em;
padding: 0.4em 0 0.2em 0;
text-align: center;
color : #061838; 
}

#header #menu a {
padding: 0em 0.3em;
font-variant: small-caps;
font-weight: normal;
}

#header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#header-bottom {
    min-width: 1000px;
}

/* for the search-wrap space */

#search-wrap input {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 5px 14px;
    background: rgb(255, 255, 255);
    color: #000000;
    font-size: 13px;
    width: 180px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 2em;

    transform: translateY(-50%);
}

#search-wrap input:focus {
    width: 220px;
    background: rgb(255, 255, 255);
    transition: width 0.2s;
}


.search-mode #search-wrap {
    width: 80%;
    max-width: 800px;
}

#search-wrap #searchInput {
    width: 10%;
    padding: 15px 20px;
    font-size: 15px;
    border: 2px solid #93bb84;
    border-radius: 100px;
    outline: none;
    transition: border-color 0.3s ease;
    background: rgb(255, 255, 255);
    height: 1px;
}

