.pamo_logo {
    width: 270px;
    margin: 20px auto;
    display: block;
}

.welcome .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    background-color: #F5F5F5;
    width: 25%;
    border-radius: 18px;
}

.welcome .logo:hover {
    background-color: #F5F1F1;
}



#main .logo.sponsors {
    position: absolute;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 18px;
}

/* #main .logo.sponsors.left {
    top: 1rem;
    left: 1rem;
}


#main .logo.sponsors.right {
    top: 1rem;
    right: 1rem;
} */

#main .logo.sponsors:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
