/*  *  *  *  *  *  *  *  *  *  *  *

	footer

 *  *  *  *  *  *  *  *  *  *  *  */

#footer 
{   border-top: 1px dashed #93bb84;
	border-bottom: 1px solid #93bb84;
	background-color: #93bb84;
	text-align: center;
	padding: 0.2em;
	font-size: 0.8em;
	line-height: 2em;
	white-space: nowrap;
}